@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@layer base {
  html {
    font-family: "Montserrat";
    color: "#252b42";
  }
}
body {
  box-sizing: border-box;
}

.header-navlink-right {
  @apply text-[#23A6F0];
}
.footer-column {
  @apply flex flex-col text-start font-bold;
}
.footer-heading {
  @apply text-[#252B42] text-2xl  pb-5;
}
.footer-paragraph-column {
  @apply flex flex-col pb-2;
}
.footer-paragraph,
.footer-bottom {
  @apply text-[#737373] text-sm;
}

/*ABOUT PAGE*/
.about-total {
  @apply flex flex-col;
}
.about-total-numbers {
  @apply text-6xl font-bold tracking-wider;
}
.about-total-texts {
  @apply font-bold tracking-wide;
}
