@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@layer base {
  html {
    font-family: "Montserrat";
<<<<<<< HEAD
    color: "#252b42";
=======
    color: #252b42;
>>>>>>> 6518c110d1c654843e7ed44fb360c3ab2ac8ef39
  }
}
body {
  box-sizing: border-box;
}

.header-navlink-right {
  @apply text-[#23A6F0];
}
.footer-column {
  @apply flex flex-col text-start;
}
.footer-heading {
  @apply text-[#252B42] text-2xl  pb-5;
}
.footer-paragraph-column {
  @apply flex flex-col pb-2;
}
.footer-paragraph,
.footer-bottom {
  @apply text-[#737373] text-sm;
}
.footer-bold {
  @apply font-bold;
}
